* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: aliceblue;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    text-align: center;
}

.App-header {
    position: sticky;
    background-color: rgb(255, 255, 255);
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    padding: 10px;
    color: white;
    padding: 0;
    z-index: 2;
}

.Title {
    margin-bottom: 20px;
}

h1 {
    font-size: calc(10px + 4vmin);
}

.Title p {
    font-size: calc(10px + 0.5vmin);
    font-style: italic;
}

.Search {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.Search input {
    text-decoration: none;
    border-radius: 20px;
    width: 60%;
    height: 40px;
    font-size: calc(10px + 0.5vmin);
    padding-left: 15px;
    outline: none;
    margin: 0 auto;
}

.Search h5,
input {
    padding: 0;
    margin: 0;
}

.Search a {
    text-decoration: none;
}

.content {
    width: 100%;
}

.Movies-container {
    margin: 0 auto;
    display: flex;
    max-width: 60%;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.Movie {
    position: relative;
    max-width: 200px;
    margin: 1%;
}

.Movie p,
h4 {
    text-align: left;
}

.Movie img {
    height: 300px;
    width: 200px;
}

.No-image {
    height: 300px;
    width: 200px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MiniMovie {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.253);
}

.MiniMovie img {
    height: 100px;
    float: left;
}

.MiniMovie .content {
    margin-top: 1%;
}

.MiniMovie .No-image {
    height: 75px;
    width: 50px;
    float: left;
}

.MiniMovie h4 {
    float: left;
    margin-left: 1%;
}

.MiniMovie p {
    float: right;
    margin-left: auto;
}

.Mini-ratings p {
    margin-left: 5%;
}

.backfilter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: black;
    backdrop-filter: blur(5px);
}

.InfoCard {
    z-index: 10;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 10px 50px;
}

.add {
    position: relative;
    float: bottom;
}

.InfoCard .image {
    display: flex;
    align-items: center;
    height: 100%;
}

.InfoCard .image img {
    max-height: 600px;
    padding: 35px;
    height: 100%;
}

.InfoCard .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    position: relative;
}

.InfoCard h1 {
    float: left;
    line-height: 105%;
    margin: 5% 0 2% 0;
    text-align: left;
    padding-right: 5%;
}

.InfoCard .content p {
    text-align: left;
    position: relative;
    max-height: 30%;
    overflow: auto;
    padding-right: 10%;
}

.InfoCard .Rating {
    color: grey;
    font-weight: 200;
    float: left;
    margin-bottom: 3%;
}

.InfoCard .selection {
    width: 100%;
    display: flex;
}


/* Pair of status and selector */

.InfoCard .status {
    width: 45%;
    display: flex;
    margin-bottom: 2%;
    bottom: 0;
}

.InfoCard select {
    border-radius: 20px;
    font-weight: bold;
    height: 30px;
    outline: none;
    margin-left: 10px;
    padding: 0 10px;
}

.profilePage {
    text-align: left;
}

.profilePage h1 {
    width: 70%;
    margin: auto;
}