* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    padding: 10px;
    color: white;
}

.Title {
    margin-bottom: 20px;
}

.Title h1 {
    font-size: calc(10px + 4vmin);
}

.Title p {
    font-size: calc(10px + 0.5vmin);
    font-style: italic;
}

.Search {
    display: inline-block;
}

.Search input {
    text-decoration: none;
    min-width: 60vw;
    border-radius: 20px;
    height: 4vh;
    font-size: calc(10px + 0.5vmin);
    padding-left: 15px;
    outline: none;
    margin: 0 auto;
}

.Search h5,
input {
    padding: 0;
    margin: 0;
}

.Search a {
    text-decoration: none;
}

.content {
    /* justify-content: center; */
}

.Movies-container {
    margin: 0 auto;
    display: flex;
    max-width: 70vw;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.Movie {
    padding: 20px;
    max-width: 200px;
}

.Movie p {
    text-align: left;
}

.Movie img {
    max-height: 300px;
    max-width: 200px;
    height: 300px;
    width: 200px;
}

.No-image {
    height: 300px;
    width: 200px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}