* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: aliceblue;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    text-align: center;
}

.App-header {
    position: sticky;
    background-color: rgb(255, 255, 255);
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    padding: 10px;
    color: white;
    padding: 0;
    z-index: 2;
}

.Title {
    margin-bottom: 20px;
}

h1 {
    font-size: calc(10px + 4vmin);
}

.Title p {
    font-size: calc(10px + 0.5vmin);
    font-style: italic;
}

.Search {
    display: inline-block;
}

.Search input {
    text-decoration: none;
    border-radius: 20px;
    width: 60vw;
    height: 4vh;
    min-height: 4vh;
    font-size: calc(10px + 0.5vmin);
    padding-left: 15px;
    outline: none;
    margin: 0 auto;
}

.Search h5,
input {
    padding: 0;
    margin: 0;
}

.Search a {
    text-decoration: none;
}

.Movies-container {
    margin: 0 auto;
    display: flex;
    max-width: 70%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.Movie {
    padding: 20px;
    max-width: 200px;
    position: relative;
}

.Movie p,
h4 {
    text-align: left;
}

.Movie img {
    max-height: 300px;
    max-width: 200px;
    height: 300px;
    width: 200px;
}

.No-image {
    height: 300px;
    width: 200px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MiniMovie {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.253);
}

.MiniMovie .content {
    margin-top: 1%;
}

.MiniMovie .No-image {
    height: 75px;
    width: 50px;
    float: left;
}

.MiniMovie h4 {
    float: left;
    margin-left: 1%;
}

.MiniMovie p {
    float: right;
    margin-left: auto;
}

.Mini-ratings p {
    margin-left: 5%;
}

.backfilter {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: black;
    backdrop-filter: blur(5px);
}

.InfoCard {
    z-index: 100;
    position: fixed;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}